# LOG
coloredlogs==14.0
python-json-logger==0.1.11

# HTTP REQUEST
requests==2.22.0

# ASCII ART
pyfiglet==0.7
termcolor==1.1.0
colorama==0.4.3

# DATETIME
python-dateutil==2.8.1

# TELEGRAM
python-telegram-bot==12.4.2

# MONGO
pymongo==3.10.1

# GRAFICOS
matplotlib==3.2.1

# CACHE
cachetools==4.0.0
